name: Secure Docker CI Pipeline

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  security-events: write

jobs:
  secure-docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: github/codeql-action/init@v3
        with:
          languages: python

      - uses: github/codeql-action/analyze@v3

      - name: Dependency Scan
        run: |
          pip install pip-audit
          pip-audit

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image (local)
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          tags: docker-ci-demo:scan

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: docker-ci-demo:scan
          severity: CRITICAL,HIGH
          exit-code: 1

      - name: Push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            shivsharma01/docker-ci-demo:latest
            shivsharma01/docker-ci-demo:${{ github.sha }}
